@model WebApplication28.Models.PrivscyViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@Model.CategoryVM.Title</h1>
<ul>
    @foreach (var item in Model.ProductVM)
    {
        <li>@item.Title</li>
    }
</ul>
@*<h1>@ViewBag.product.Title</h1>*@

